h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0D1243 !important;
  font-weight: bolder !important;
}
a{
    text-decoration: none !important;
    color: #EFECEC !important;
}
button {
    background-color: #0D1243;
    border: 1px solid #EFECEC;
    color: #EFECEC;
    border-radius: 8px !important;
    margin: 10px !important;
}
button:hover {
    background-color: #EFECEC;
    border: 1px solid #0D1243 !important;
    color: #0D1243 !important;
}
  
.btnBigger {
    padding: 10px 20px;
    font-size: 18px;
}
.NLcolor {
    color: #0D1243 !important;
    font-weight: bolder !important;
    font-size: 1.5rem;
    
}
.NBtoggle{
    background-color: #0D1243 !important;
    border-color:#0D1243 !important;
}
.centered {
    display: flex !important;
    justify-content: center !important;
}
.pAbout{
    padding: 1rem 15rem;
    font-size: large;
}
.maindiv {
    background: radial-gradient(68.39% 68.39% at 27.27% 31.61%, #FFFFFF 0%, #D8DBF2 48.5%, #C6CBEC 100%);
min-height: 100vh;
    color:#0A0D1D;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
 
  .sidebarMargin{
    margin: 1rem 0;
  }